@charset 'utf-8';

body
{
    font-family: monospace;

    background-color: black;
    /* font-family: monospace; */
}

/* 高度バーのアニメーション */
.bar
{
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transition-property: height y;
}
.bar-text
{
    font-family: Arial, Helvetica, sans-serif;

    color: white;

    stroke: none;
    text-anchor: start; /* 横方向の位置 */
}

/* Map */
.map
{
    position: relative;
}
.map > *
{
    position: absolute;
}

button
{
    font-size: 2vh;
    font-weight: 700;

    width: 100vw;
    height: 5vh;
}

/* 全画面表示時の挙動 */
/* ユーザーがホーム画面からサイトを起動した場合は、display-mode メディアクエリがウェブアプリマニフェストで定義した状態に設定されます。完全な全画面表示の場合は、次のようになります。 */
@media all and (display-mode: fullscreen)
{
    #goFS
    {
        /* display: none; */
    }
}
